*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
.head{
  width: 100%;
  height:50%;
  background-image: url(./bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}
.event-head{
  color:white;
  text-align: center;
}
.col{
  background-color: #eee;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.card{
  border-radius: 8px;
  cursor: pointer;
  margin:15px;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
}
.card p{
  margin-top:15px;
  font-size: 20px;
}
h3{
  font-size: 3.5rem;
}
.card h3{
  font-size:3rem;
  color:#FF8C00;
  font-weight: 200;
}
.card > h2{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
p{
  font-size: 2rem;
}
.card2
{
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.photo{
  width:80px;
  height:80px;
  background-color: #FF8C00;
  border-radius:50%;
}

.card2 h2{
  margin-top:15px;
}
.info {
  margin-top: 10px;
  font-size: 1.5rem;
}
.info h2{
  font-weight: 100;
}
.footer{
  margin-top: 30px;
  background-image: url(./bg1.jpg);
  background-size: cover;
  height:150px;
}

@media (max-width:970px) {
  .card-wrapper{
    flex-wrap: wrap;
  }
}
a{
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
a:hover{
  background-color: white;
  color: black;
}