*{
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
a, a:hover {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}
.clg{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.wrapper{
  margin-top: 4rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.event-wrapper{
  cursor:pointer;
  width: 100%;
  height: 100%;
  max-width: 65rem;
  max-height:25rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  margin-top: 3rem;
}
.img-wrapper{
  min-width: 25rem;
  max-width: 25rem;
  height:25rem;
  transform: translateX(-8rem);
  position: relative;
  background-color: blue;
}
.img-wrapper img{
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.6rem;
}
.right{
  display: flex;
  flex-direction: column;
  transform: translateY(-2rem);
}

.event-head{
  font-size: 3rem;
}
.event-date{
  font-weight: bold;
  color:rgba(0,0,0,0.5);
  transform: translateY(-2rem);
  font-size: 1.6rem;
}
.event-date .date,.month{
  font-size: 2rem;
}
.info{
  font-size: 1.6rem;
}
.head{
  background-image: url(./bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.logo{
  margin-right:2rem ;
  transform: translateY(10px);
}
.logo img{
  width: 100%;
  height: 100%;
  width: 12rem;
  height: 12rem;

}
.clg-info{
  font-size: 1.3rem;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  margin-top:20px;
}



@media all and (max-width:824px) {
  html{
    font-size: 9px;
  } 
  .logo{
  transform: translateY(0px);

  }
  .logo img{
    max-width: 30rem;
    max-height: 30rem;

    transform: translateY(6px);
  }
  .clg-info{
    font-size: 1.2rem;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    margin-top:30px;
  }
}


@media all and (max-width:724px) {
  html{
    font-size: 8px;
  } 
  .event-wrapper{

    max-height:45rem;
  }
  .img-wrapper{
    min-width:30rem;
    max-width: 30rem;
    height:30rem;
    transform: translateX(-8rem);
    position: relative;
    background-color: blue;
  }
  .info{
    font-size: 2rem;
  }
  .logo img{

    max-width: 20rem;
    max-height: 20rem;

    transform: translateY(6px);
  }
  .clg-info{
    font-size: 1.5rem;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;
    margin-top:30px;
  }
}
@media all and (max-width:690px) {
  html{
    font-size: 7px;
  } 
  .event-wrapper{
    min-height:35rem;
    max-height: 100rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    border-radius: .8rem;
    margin-top: 10rem;
  }
  .img-wrapper{
    min-width: 25rem;
    max-width: 25rem;
    min-height:25rem;
    max-height:25rem;
    transform: translateY(-6rem);
    position: relative;
    background-color: blue;
  }
  .img-wrapper img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.6rem;
  }
  .right{
    display: flex;
    flex-direction: column;
    transform: translateY(-2rem);
  }
  .logo img{

    max-width: 30rem;
    max-height: 30rem;

    transform: translateY(6px);
  }
  .clg-info{
    font-size: 1.5rem;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;
    margin-top:30px;
  }
}
@media all and (max-width:548px){
  html{
    font-size:5px;
  }
  .event-wrapper{
  max-width: 75rem;
  padding: 0 5rem;
  border-radius: .8rem;
}
.img-wrapper{
  min-width: 35rem;
  max-width: 35rem;
  min-height:35rem;
  max-height:35rem;
}
  .event-head{
    font-size: 5rem;
  }
  .event-date{
    font-weight: bold;
    color:rgba(0,0,0,0.5);
    transform: translateY(-2rem);
  }
  .event-date .date,.month{
    font-size: 3rem;
  }
  .info{
    font-size: 3rem;
  }
  .head{
   justify-content: start;
  }
  .logo img{
    width: 100%;
    height: 100%;
    max-width: 25rem;
    max-height: 25rem;

    transform: translateY(6px);
  }
  .clg-info{
    font-size: 2rem;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;
    margin-top:30px;
  }
  
}


@media all and (max-width:450px){
  html{
    font-size:4px;
  }
  .event-wrapper{
    max-width: 90rem;
     max-height:200rem;
  }
  .event-head{
    font-size: 5rem;
  }
  .event-date{
    font-weight: bold;
    color:rgba(0,0,0,0.5);
    transform: translateY(-2rem);
  }
  .event-date .date,.month{
    font-size: 4rem;
  }
  .info{
    font-size: 3.5rem;
  }

  .logo img{
    width: 100%;
    height: 100%;
    max-width: 25rem;
    max-height: 25rem;

  }
  .clg-info{
    font-size: 2.4rem;
  }
  .title{
    font-size: 3rem;
  }
}

@media all and (min-width:320px) and (max-width:450px){
  html{
    font-size:3px;
  }
  .event-wrapper{
     max-width: 90rem;
     max-height:200rem;
  }
  .event-head{
    font-size: 7rem;
  }
  .event-date{
    font-weight: bold;
    color:rgba(0,0,0,0.5);
    transform: translateY(-3rem);
  }
  .event-date .date,.month{
    font-size: 5rem;
  }
  .info{
    font-size: 5rem;
  }

  .logo img{
    width: 100%;
    height: 100%;
    max-width: 25rem;
    max-height: 25rem;

  }
  .clg-info{
    font-size: 2.4rem;
  }
  .title{
    font-size: 3rem;
  }
}

.footer{
  margin-top: 30px;
  background-image: url(./bg1.jpg);
  background-size: cover;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h2{
  font-size: 30px;
  color:white;
}
